body {
    background-image: -webkit-repeating-linear-gradient(270deg, rgb(0, 0, 204), rgb(0, 0, 204) 7%, rgb(100, 100, 100) 10%);
    background-image: repeating-linear-gradient(180deg, rgb(0, 0, 204), rgb(0, 0, 204) 7%, rgb(100, 100, 100) 10%);
}

.social .column {
    max-width: 50%;
}

.social .double-column {
    max-width: 100%;
}