body {
    background-image: -webkit-repeating-linear-gradient(270deg, rgb(200, 198, 204), rgb(200, 198, 204) 7%, rgb(100, 100, 100) 10%);
    background-image: repeating-linear-gradient(180deg, rgb(200, 198, 204), rgb(200, 198, 204) 7%, rgb(100, 100, 100) 10%);
}

header,
footer,
section {
    padding-left: 10px;
    padding-right: 10px;
}

.trending__card {
    max-width: 23%;
    height: auto;
    margin: 0 10px 10px 0;
    padding: 1px 10px 5px 10px;
}

.trending__card img {
    float: none;
    max-width: 100%;
}

.breaking__news {
    margin-left: auto;
    display: inline-block;
    width: 34%;
    overflow: overlay;
    max-height: 2em;
}

.central__main-news {
    max-width: 65%;
    line-height: 150px;
}

.central__main-news__picture {
    width: auto;
    height: auto;
    border: 0;
}

.central__main-news__picture img {
    max-width: 100%;
}

.central__main-news__picture__sub-pictures img {
    max-width: 100%;
    width: 23%;
}

.central__main-news__picture__sub-pictures img:not(:first-child) {
    margin-left: 5px;
}

.central__most-popular {
    max-width: 33%;
    width: auto;
}

.central .some {
    margin: 20px;
    padding: 0 0 30px 0;
    width: auto;
}

.hot-recent-stuff > header {
    max-width: auto;
    margin-bottom: 10px;
}

.hot-recent-stuff header p,
.categories section header p,
.all-news-gallery header p {
    margin-left: -10px;
}

.all-news-gallery header .next,
.all-news-gallery header .prev {
    display: none;
}

.categories .fashion-news > header {
    width: auto;
}

.social header p {
    margin-left: -10px;
}

.social .column {
    max-width: 50%;
}

.social .double-column {
    max-width: 100%;
}