.categories {
    padding-left: 0;
    background-color: white;
}

.categories section > header {
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
    width: 570px;
}

.categories section header p {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
    margin-left: -40px;
    font-size: 18px;
    color: black;
    background-color: #E9ECEE;
}

.videos-news__main p.date {
    float: right;
}

.categories div {
    margin-top: 10px;
    width: 570px;
    display: inline-block;
    border-bottom: 1px solid lightgray;
}

.categories .categories__news {
    margin-right: 40px;
    width: 570px;
    display: inline-block;
}

.categories__news .recent-posts__other img {
    display: inline;
    float: left;
    padding-right: 15px;
}

.categories__news .recent-posts__other p {
    margin-top: 0;
    display: block;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categories__news p.description {
    color: #8C8C8C;
}

.fashion-news > header {
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
    width: 1165px;
}

.fashion-news .recent-posts__other:first-child {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.fashion-news .recent-posts__other:last-child {
    margin-top: 15px;
    padding-bottom: 20px;
}

.categories .videos-news {
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    width: 570px;
    display: inline-block;
}

.videos-news .videos-news__main {
    margin-top: 4px;
    padding-bottom: 0px;
    border-bottom: 0px solid lightgray;
}

.videos-news .recent-posts__other {
    padding-bottom: 17px;
    border-bottom: 1px solid lightgray;
}

.videos-news .recent-posts__other img {
    margin-right: 4px;
}