.header {
    background-color: #3D4C54;
    color: white;
    height: 70px;
    line-height: 70px;
    display: block;
    overflow: auto;
}

.header a {
    display: inline-block;
    border-right: 1px solid #485A63;
    padding-left: 20px;
    padding-right: 25px;
}

.header a:link,
.header a:visited {
    text-decoration: none;
    color: white;
}

.header a:hover,
.header a:active {
    text-decoration: underline;
    color: lightgray;
}

.header i {
    top: 5px;
    position: relative;
}

.header nav {
    display: inline-block;
    text-align: center;
    width: 100%
}

.header nav a:first-child {
    border-right: 0;
    top: 15px;
    float: left;
}