body {
    font-weight: 300;
    background-image: url("/images/background.jpg");
}

.breaking {
    clear: both;
    background-color: #F7F7F7;
}

.trending {
    clear: both;
    background-color: #EBEBEB;
}

.social {
    clear: both;
    background-color: #F1F1F1;
    padding-bottom: 50px;
}

.date {
    color: #8E9BAB;
}